* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --background1: #ffdbaf;
    --background2: #b46642;
    --background3: #96a47e;
    --background4: #475038;
}

.icons {
    color: white;
}

.icons:hover {
    box-shadow: 0px 0px 5px 5px #d6d5d3;
}

.icons_skills:hover {
    background-color: var(--background1);
    color: var(--background2);
}

.icons_skills_contact {
    font-size: 6em;
}

.icons_projects {
    font-size: 2em;
}

.icons_projects:hover {
    background-color: var(--background2);
    color: var(--background3);
}

.icons_contact:hover {
    background-color: var(--background3);
    color: var(--background4);
}

body {
    background-color: black;
    width: 100%;
    margin: 0%;
}

#header {
    background-color: rgba(0, 0, 0, 0.403);
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
} 

#header a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 1%;
    display: flex;
    align-items: center;
}

#header a:visited {
    color: white;
}

.tabs:hover {
    background-color: rgb(24, 24, 24);
    box-shadow: inset 0px 0px 3px 3px white;
}

#initials {
    border: 4px solid white;
}

#header #initials:hover {
    color: var(--background1);
}

#header #skills_header:hover {
    color: var(--background2);
}

#header #projects_header:hover {
    color: var(--background3);
}

#header #contact_header:hover {
    color: var(--background4);
}

#intro {
    background-color: var(--background1);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#My_pic {
    width: 30%;
    height: auto;
    border-radius: 90%;
    margin-right: 3%;
}

#intro_statement {
    float: left;
    width: 35%;
    font-size: 1.2em;
    color: #a44400;
}

#name {
    font-size: 2em;
}

#angled_color_intro {
    padding: 3%;
    background: linear-gradient(
        to bottom right,
        var(--background1) 0%,
        var(--background1) 50%,                                                                 
        var(--background2) 50%,
        var(--background2) 100%
    );
}

#skills {
    background-color: var(--background2);
    padding: 3%;
    color: var(--background1);
}

#angled_color_skills {
    padding: 3%;
    background: linear-gradient(
        to top right,
        var(--background3) 0%,
        var(--background3) 50%,                                                                 
        var(--background2) 50%,
        var(--background2) 100%
    );
}

#projects {
    padding: 3%;
    background-color: var(--background3);
    color: var(--background4)
}

#projects a {
    color: var(--background2);
}

#projects a:visited {
    color: var(--background2);
}

#projects a:hover {
    font-style: italic;
}

#calc {
    display: flex;
    justify-content: flex-start;
}

#calc_details {
    width: 25%;
}

#calc_github {
    display: flex;
    align-items: center;
}

#calc_link {
    display: inline;
    padding-right: 2%;
    margin-bottom: -1%;
}

#calc_github_link {
    margin-bottom: -10%;
}

#calc_pic_container {
    padding-top: 25px;
    width: 25%;
}

#Calc_pic {
    width: 100%;
    height: auto;
    border-radius: 5%;
    border: 4px solid var(--background2);
}

#portfolio {
    display: flex;
    justify-content: flex-end;
}

#portfolio_pic_container {
    padding-top: 25px;
    width: 25%;
    margin-right: 1%;
}

#portfolio_pic {
    width: 100%;
    height: auto;
    border-radius: 5%;
    border: 4px solid var(--background2);
}

#portfolio_details {
    width: 24%;
}

#portfolio_github {
    display: flex;
    align-items: center;
}

#portfolio_link {
    display: inline;
    padding-right: 2%;
    margin-bottom: -1%;
}

#portfolio_github_link {
    margin-bottom: -10%;
}

#angled_color_projects {
    padding: 3%;
    background: linear-gradient(
        to bottom right,
        var(--background3) 0%,
        var(--background3) 50%,                                                                 
        var(--background4) 50%,
        var(--background4) 100%
    );
}

#contact {
    background-color:var(--background4);
    padding: .1%;
    color: var(--background3);
}

#contact_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_spacing {
    padding-right: 2%;
}

footer {
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
